{% extends "layout.html" %} {% block content %}
<main>
  <h1 class="withCaption">ABOUT</h1>

  <p class="h1Caption">私たちについて</p>

  <div class="contentsWrapper">
    <div class="about">
      <div class="left">
        <img
          src="{{ url_for('static', filename='images/about/about_image.jpg') }}"
          alt="商品画像"
          style="width: 400px"
        />
      </div>

      <div class="right">
        <div>
          <h2>CONCEPT</h2>
          <p>
            私たちは、日常に寄り添うシンプルで機能的なミニ財布を制作するデザインブランドです。
          </p>
          <p>
            素材・構造・使い心地を大切にし、長く使い続けられる製品づくりを目指しています。
          </p>
          <p>
            日々の生活の中で自然に馴染み、使うほどに愛着が生まれるようなプロダクトを生み出すことをコンセプトとしています。
          </p>
        </div>
        <div>
          <h2>DESIGN</h2>
          <p>
            既存の価値観にとらわれず、「本当に必要な形とは何か」を考えながらデザインしています。
          </p>
          <p>
            素材の特性や製造背景を大切にし、機能と美しさを両立したプロダクトを追求しています。
          </p>
          <p>
            シンプルでありながら使いやすく、日常のさまざまなシーンに溶け込むデザインを目指しています。
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
