{% extends "layout.html" %}

{% block content %}
    <main>
        <div class="contentsWrapper">

            <section class="backBtn">
                <p onclick="history.back()">>戻る</p>
            </section>

            <section class="productDetailSection">

                <div class="left">
                    <img src="{{ url_for('static', filename=product.image_path) }}" alt="商品画像">
                </div>

                <div class="right">
                    <p class="series">{{product.series}}</p>
                    <p class="color">{{product.color_detail}}</p>
                    <p class="price">￥{{ "{:,}".format(product.price) }}</p>

                    <form action="/add_to_cart" method="GET">
                        <div class="quantityCart">
                            <p>数量: <input type="number" name="quantity" value="1" min="1" max="{{product.stock}}"></p>
                            <button type="submit">カートに入れる</button>
                        </div>
                        <p class="id">商品番号: 0000{{product.id}}</p>
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                    </form>        

                    <p class="caption">{{product.caption}}</p>        
                </div>
            </section>

            
        </div>
        


    </main>
{% endblock %}