:root {
  --white: #fff;
  --white2: rgba(255,255,255,.7);
  --black: #000;
  --gray1: #d9d9d9;
  --gray2: #aaa;

}
body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--white);
  color: var(--black);
}
main {
  margin-top: 75px;
  min-height: 600px;
}
.contentsWrapper {
  width: 1000px;
  margin: 0 auto;
}
.contentsWrapperMin {
  width: 500px;
  margin: 0 auto 200px;
}
h1 {
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
}
h2 {
  font-size: 20px;
  padding-bottom: 30px;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 14px;
  letter-spacing: .03em;
  line-height: 1.4em;
}
button {
  padding: 8px 15px;
  border: 1px solid var(--black);
  background-color: var(--black);
  color: var(--white);
  font-size: 12px;
}
.btn150 {
  width: 150px;
  text-align: center;
}
.centerBtn {
  display: flex;
  justify-content: center;
  gap: 40px;
}
input {
  border: 1px solid var(--black);
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 14px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
input[type="radio"],
input[type="checkbox"] {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}
select {
  border: 1px solid var(--black);
  border-radius: 2px;
  font-size: 14px;
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}
.shortInput {
  width: 150px;
}
.middleInput {
  width: 200px;
}
.semiLongInput {
  width: 300px;
}
.upperCase {
  text-transform: uppercase;
}
button:hover {
  opacity: 0.5;
}
a:hover {
  opacity: 0.5;
}


/* ヘッダー */
header {
  /* height: 100px; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

header .top {
  height: 50px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);

}
header .storeName {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .1em;
}
header .top nav {
  margin-top: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
header .menu1 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
header .menu1 div {
  width: 30px;
  height: 30px;
  background-color: var(--black);
}
header .menu1 svg {
  width: 26px;
  height: 26px;
}
header .menu1 .search {
  padding-top: 2px;
  padding-left: 2px;
}
header .menu1 .cart {
  padding-top: 3px;
  padding-left: 1px;
}
header .menu1 .mypage {
  padding-top: 3px;
  padding-left: 2px;
}
header .menu2 {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.menu2 button {
  padding: 5px 10px;
  border: 1px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  border-radius: 5px;
  font-size: 12px;
}
/* .menu2 button {
  border: 1px solid var(--gray2);
  background-color: var(--white);
  color: var(--gray2);
} */
header .bottom {
  height: 25px;
  padding: 0 40px;
  background-color: var(--gray1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .menu3 {
  display: flex;
  justify-content: space-between;
  width: 500px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .05em;
}

/* フッター */
footer {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray2);
}
footer .fotterMenu {
  width: 100%;
  height: 200px;
  padding: 60px 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
footer .menuArea {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}
footer li {
  font-size: 14px;
  line-height: 1.6em;
}
footer .snsArea {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
footer .snsArea div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--gray1);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .x p {
  margin-top: -2px;
  font-size: 28px;
  font-weight: bold;
  color: var(--white);
}
footer .facebook svg {
  width: 24px;
  height: 24px;
}
footer .instagram svg {
  width: 35px;
  height: 35px;
}
footer small {
  font-size: 11px;
  color: var(--white);
}

/* HOME */
.home .heroSectionInner {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .heroSection h1 {
  background-color: var(--white2);
  padding: 40px 60px;
  font-weight: bold;
  letter-spacing: .2em;
}
.home .captionSection {
  width: 100%;
  height: 200px;
  padding-top: 50px ;
  text-align: center;
}
.home .captionSection p {
  font-size: 16px;
  letter-spacing: .04em;
  line-height: 1.4em;
}
.home .captionSection p::after {
  content: "";
  width: 200px;
  height: 2px;
  margin: 20px auto 0;
  background-color: var(--black);
  display: block;
}

/* PRODUCTS */
.selectBar {
  padding-top: 80px;
  display: flex;
  gap: 20px;
}
.selector {
  display: flex;
  gap: 5px;
  align-items: center;
}
.seriesFilter {
  text-decoration: underline;
  cursor: pointer;
}
.seriesFilter:hover {
  opacity: 0.5;
}
.colorFilter {
  display: block;
  width: 15px;
  height: 15px;
  margin-bottom: -1px;
  border-radius: 50%;
  cursor: pointer;
}
.colorFilter:hover {
  opacity: 0.5;
}
.yellow {
  background-color: #FFE100;
}
.Pink {
  background-color: #FF00FB;
}
.Blue {
  background-color: #00AAFF;
}
.Purple {
  background-color: #893BC5;
}
.Green {
  background-color: #179641;
}
.Black {
  background-color: #000000;
}
.Brown {
  background-color: #963D17;
}
.productsSection {
  padding-top: 40px;
  padding-bottom: 250px;
  display: grid;
  grid-template-columns: repeat(3,300px);
  gap: 50px;
}
.productWrapper a:hover {
  opacity: 1;
}
.productThumb {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageWraper {
  overflow: hidden;
}
.productThumb img {
  width: 300px;
  height: auto;
  transition: transform 0.4s ease;
}
.productThumb img:hover {
  transform: scale(1.05);
}
.productThumb .series {
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
}
.productThumb .color {
  margin-top: 1px;
  font-size: 10px;
}
.productThumb .price {
  margin-top: 4px;
  font-size: 12px;
}

/* PRODUCTS_detail */
.backBtn {
  padding-top: 80px;
  display: flex;
  gap: 20px;
}
.backBtn:hover {
  opacity: 0.5;
}
.backBtn p {
  text-decoration: underline;
  cursor: pointer;
}
.productDetailSection {
  padding-top: 40px;
  padding-bottom: 250px;
  display: flex;
  gap: 120px;
}
.productDetailSection .left img {
  width: 440px;
  height: 340px;
}
.right {
  width: 440px;
}
.productDetailSection .series {
  font-size: 24px;
  font-weight: bold;
}
.productDetailSection .color {
  margin-top: 1px;
  font-size: 20px;
}
.productDetailSection .price {
  margin-top: 4px;
  font-size: 16px;
}
.productDetailSection form {
  margin-top: 40px;
}
.productDetailSection input {
  width: 60px;
}

.productDetailSection .quantityCart {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.productDetailSection .id {
  margin-top: 10px;
  font-size: 12px;
}
.productDetailSection .caption {
  margin-top: 40px;
  font-size: 14px;
}

/* カート */
.cartWrapper {
  padding-bottom: 70px ;
}
.empty {
  text-align: center;
}
.cartItem {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-auto-rows: 50px;
}
.cartItem .quantity {
  text-align: right;
}
.cartItem .subtotal {
  text-align: right;
}
.total {
  padding-top: 10px;
  text-align: right;
}
.goukei {
  padding-right: 50px;
}

/* 購入画面 */
.orderInfo {
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 200px 390px;
  gap: 10px;
}
.payment {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 200px 390px;
  gap: 10px;
}

/* ログイン */
.loginInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginInputs p {
  width: 550px;
  display: grid;
  grid-template-columns: 40% 60%;
}
.loginInputs input {
  margin-bottom: 20px;
}
.loginBtn {
  padding-top: 30px;
  text-align: center;
}
.loginBtn button {
  width: 150px;
}
.toMemberRegistrationBtn {
  margin-top: 20px;
  text-align: center;
}
.toMemberRegistrationBtn button {
  width: 150px;
}

/* 新規会員登録 */
.memberRegistInfo {
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 200px 390px;
  gap: 10px;
  font-size: 14px;
}

/* マイページ */
.myPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.memberInfo {
  width: 300px;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: 150px 150px;
  gap: 10px;
}
.orderHistory {
  margin-bottom: 20px;
  padding: 10px;
  width: 355px;
  border: 1px solid var(--black);
} 
.orderHistory p {
  padding-bottom: 10px;
} 
.orderDetailInfo {
  display: grid;
  grid-template-columns: 200px 100px;
  gap: 5px;
}
.orderDetailInfo .quantity {
  text-align: right;
}

/* ログイン成功画面、ログアウト画面、購入完了画面 */
.result {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
.result h2 {
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 40px;
}
.result p {
  padding-bottom: 40px;
}
.result a {
  display: block;
  padding-bottom: 20px;
  text-decoration: underline;
  font-size: 14px;
}

/* 準備中表示 */
.preparation {
  text-align: center;
  padding-top: 50px;
}



/* .menu1 svg {
  background-color: var(--black);
  background: url(../../images/search.svg) no-repeat center center / cover;
} */