{% extends "admin/admin_layout.html" %}
{% block content %}

<main>
  <div class="contentsWrapperMin">
    <h1>管理者情報</h1>

    <div class="overTable">
      <a href="{{url_for('admin.admin_staff_add')}}">
        <button class="buttonAdmin">新規登録</button>
      </a>
    </div>

    <div>
      <table class="borderTable">
        <tr>
          <th>管理者ID</th>
          <th>氏名</th>
          <!-- <th>パスワード</th> -->
          <th>編集</th>
        </tr>

        {% for s in staff_info %}
        <tr>
          <td>{{ s.id }}</td>
          <td>{{ s.name }}</td>
          <!-- <td>{{ '*' * s.pass|length }}</td> -->
          <td>
            <a href="{{url_for('admin.admin_staff_edit', staff_id=s.id)}}">
              <button class="buttonAdmin">編集</button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

  </div>
</main>

{% endblock %}
