{% extends "admin/admin_layout.html" %}
{% block content %}

<main>
  <div class="contentsWrapperMid">
    <h1>商品情報 -新規登録-</h1>

    <div class="overTable">
      <button onclick="history.back()" class="buttonAdmin">戻る</button>
    </div>

    <form action="/admin_product_insert" method="post" enctype="multipart/form-data">
      <!-- データを符号化（エンコード）してサーバーへ送信する。
      通常のテキストデータとは異なり、バイナリデータ（画像やPDFなど）を分割して送信し、サーバー側が正しく受け取れる形式にする。  -->

      <div>
        <table class="borderTable productTable">
          <tr>
            <th>商品ID</th>
            <td><p>自動登録</p></td>
          </tr>
          <tr>
            <th>商品名</th>
            <td><input type="text" name="name" required></td>
          </tr>
          <tr>
            <th>価格</th>
            <td><input type="number" name="price" required></td>
          </tr>
          <tr>
            <th>シリーズ</th>
            <td>
              <select name="series_id" id="series_id">
                <option value="1">Just Day</option>
                <option value="2">Someday</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>カラー</th>
            <td>
              <select name="color_id" id="color_id">
                <option value="1">Yellow</option>
                <option value="2">Pink</option>
                <option value="3">Blue</option>
                <option value="4">Purple</option>
                <option value="5">Green</option>
                <option value="6">Black</option>
                <option value="7">Brown</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>カラー詳細</th>
            <td><input type="text" name="color_detail"></td>
          </tr>
          <tr>
            <th>商品説明</th>
            <td><textarea name="caption" required></textarea></td>
          </tr>
          <tr>
            <th>在庫数</th>
            <td><input type="number" name="stock" min="0" required></td>
          </tr>
          <tr>
            <th>商品画像</th>
            <td>
              <img id="img_preview" src="" width="440" style="display:none;" class="imageThumb">           
              <input type="file" name="img_file" id="img_file" accept="image/*" required>
          </td>
          </tr>
          <tr>
            <th>検索キーワード（任意）</th>
            <td><textarea name="search_key"></textarea></td>
          </tr>
          <tr>
            <th>状態</th>
            <td>
              <select name="is_active" id="is_active">
                <option value="0">非公開</option>
                <option value="1">公開</option>
              </select>
            </td>
          </tr>
        </table>
      </div>

      <div class="changeBtnAdmin">
        <button type="submit" class="buttonAdmin">登録する</button>
      </div>

    </form>

  </div>
</main>

{% endblock %}
