{% extends "admin/admin_layout.html" %}
{% block content %}

<main>
  <h1>商品登録</h1>

  <div>
    <button onclick="history.back()">戻る</button>
  </div>

  <form action="" method="post">

    <div>
      <table>
        <tr>
          <th>商品ID</th>
          <td><p>自動登録</p></td>
        </tr>
        <tr>
          <th>商品名</th>
          <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <th>価格</th>
          <td><input type="number" name="price"></td>
        </tr>
        <tr>
          <th>シリーズ</th>
          <td>
            <select name="series" id="series">
              <option value="0">選択してください</option>
              <option value="1">Just Day</option>
              <option value="2">Someday</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>カラー</th>
          <td>
            <select name="color" id="color">
              <option value="0">選択してください</option>
              <option value="1">Yellow</option>
              <option value="2">Pink</option>
              <option value="3">Blue</option>
              <option value="4">Purple</option>
              <option value="5">Green</option>
              <option value="6">Black</option>
              <option value="7">Brown</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>カラー（詳細）</th>
          <td><input type="text"></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><textarea name="caption"></textarea></td>
        </tr>
        <tr>
          <th>在庫数</th>
          <td><input type="number" name="stock"></td>
        </tr>
        <tr>
          <th>商品画像</th>
          <td><input type="file" name="imgFile"></td>
        </tr>
        <tr>
          <th>画像プレビュー</th>
          <td><p>画像がありません</p></td>
        </tr>
        <tr>
          <th>検索キーワード</th>
          <td><textarea name="searchKey"></textarea></td>
        </tr>
        <tr>
          <th>状態</th>
          <td>
            <select name="isActive" id="isActive">
              <option value="0">非公開</option>
              <option value="1">公開</option>
            </select>
          </td>
        </tr>
      </table>
    </div>

    <div>
      <button type="submit">新規登録</button>
    </div>

  </form>
  
</main>

{% endblock %}
