{% extends "admin/admin_layout.html" %}
{% block content %}

<main>
  <h1>管理者情報</h1>

  <div>
    <button>新規登録画面へ</button>
    <h2>新規管理者登録</h2>
    <form action="/admin_add_staff" method="post">
      <label>
        <p>管理者ID（従業員用メールアドレス）</p>
        <input type="text" name="staff_id" required>
      </label>
      <label>
        <p>氏名</p>
        <input type="text" name="staff_name" required>
      </label>
      <label>
        <p>パスワード</p>
        <input type="password" name="pass" required>
      </label>
      <label>
        <p>パスワード（確認用）</p>
        <input type="password" name="pass_confirm" required>
      </label>
      <button type="submit">登録</button>
    </form>
  </div>

  <div>
    <h2>管理者一覧</h2>
    <table>
      <tr>
        <th>管理者ID</th>
        <th>氏名</th>
        <th>編集</th>
      </tr>

      {% for s in staff_info %}
      <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.name }}</td>
        <td><button>編集</button></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</main>

{% endblock %}
