{% extends "layout.html" %} {% block content %}
<main>
  <div class="contentsWrapperSm">
    <h1>管理者ログイン</h1>

    <p class="loginCaption">※ポートフォリオに記載の【デモ用アカウント】でログイン頂けます</p>

    <form action="/admin_login_process" method="post">
      <div class="loginInputs">
        <p>
          <label for="admin_id">管理者ID：</label>
          <input type="text" id="admin_id" name="admin_id" required />
        </p>
        <p>
          <label for="password">パスワード：</label>
          <input type="password" id="password" name="password" required />
        </p>
      </div>

      <p class="loginBtn">
        <button type="submit" name="btn" value="login">ログイン</button>
      </p>
    </form>
    
  </div>
</main>

{% endblock %}
