<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex,nofollow">
    <title>MINI WALLET Lab</title>
    <!-- フォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/destyle.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div id="loading">
      <div class="spinner"></div>
    </div>

    <header>
      <div class="top">
        <div class="topAdmin">
          <p class="storeName">
            <span class="upperCase">mini wallet l</span>ab
          </p>
          <p>-管理者ページ-</p>         
        </div>
        <nav>
          <div class="menu2">
            <form action="/admin_logout_process" method="post">
              <button type="submit" name="btn" value="logout">
                管理者ログアウト
              </button>
            </form>
          </div>
        </nav>
      </div>

      <div class="bottom bottomAdmin">
        <nav>
          <ul class="menu3">
            <li><a href="{{url_for('admin.admin_top')}}">トップ</a></li>
            <li><a href="{{url_for('admin.admin_order')}}">注文情報</a></li>
            <li><a href="{{url_for('admin.admin_product')}}">商品情報</a></li>
            <li><a href="{{url_for('admin.admin_member')}}">会員情報</a></li>
            <li><a href="{{url_for('admin.admin_staff')}}">管理者情報</a></li>
          </ul>
        </nav>
      </div>
    </header>

    {% block content %} {% endblock %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <script>
          alert("{{ messages[0] }}")
        </script>
      {% endif %}
    {% endwith %}
  </body>
</html>
