<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex,nofollow">
  <title>MINI WALLET Lab（demo）</title>
  <!-- フォント -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
    rel="stylesheet"
  />
  <!-- CSS -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/destyle.css') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
  />
</head>
<body>
  <main class="odMain">
    <div class="overTable">
      <button onclick="return alert('ダミーのボタンです。申し訳ございません。')" class="buttonAdmin btnAdminDummy">印刷</button>
      <button onclick="return alert('ダミーのボタンです。申し訳ございません。')" class="buttonAdmin btnAdminDummy">送り状を印刷</button>
    </div>

    <div class="orderDetail">

      <h1>注文明細（出荷指示書）</h1>
      <hr>

      <div class="odSection">
        <div class="odLR">
          <div>
            <h2>注文者情報</h2>
            <table class="borderTableBw od140">
              <tr>
                <th>注文者</th>
                <td>{{ order.orderer }}　様</td>
              </tr>
              <tr>
                <th>ユーザID</th>
                <td>{{ order.member_id or "-" }}</td>
              </tr>
              <tr>
                <th>メールアドレス</th>
                <td>{{ order.mail }}</td>
              </tr>
              <tr>
                <th>電話番号</th>
                <td>{{ order.tel }}</td>
              </tr>
            </table>            
          </div>
          <div>
            <table>
              <tr>
                <th>受注番号：</th>
                <td>{{ "%06d"|format(order.id) }}</td>
              </tr>
              <tr>
                <th>注文日　：</th>
                <td>{{ order.order_date }}</td>
              </tr>
              <tr>
                <th>支払方法：</th>
                <td>{{ order.payment_str }}</td>
              </tr>
            </table>            
          </div>
        </div>

        <h2>配送先情報</h2>
        <table class="borderTableBw od140">
          <tr>
            <th>郵便番号</th>
            <td>{{ order.zip }}</td>
          </tr>
          <tr>
            <th>住所</th>
            <td>{{ order.address1 }} {{ order.address2 }} {{ order.address3 or "" }}</td>
          </tr>
          <tr>
            <th>宛先者</th>
            <td>{{ order.recipient }}　様</td>
          </tr>
        </table>
      </div>

      <hr>
      <div class="odSection">
        <h2>購入内容</h2>
        <table class="borderTableBw odProducts">
          <tr>
            <th>商品番号</th>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>価格</th>
          </tr>
          {% for item in order_detail %}      
            <tr>
              <td class="right">{{ "%05d"|format(item.product_id) }}</td>
              <td>{{ item.name }}</td>
              <td class="right">{{ "{:,}".format(item.price) }}円</td>
              <td class="right">{{ item.quantity }}</td>
              <td class="right">{{ "{:,}".format(item.subtotal) }}円</td>
            </tr>
          {% endfor %}
        </table>

        <div class="odTotalWrapper">
          <table class="borderTableBw odTotal">
            <tr>
              <th>合計</th>
            </tr>      
            <tr>
              <td>{{ "{:,}".format(total) }}円</td>
            </tr>
          </table>          
        </div>
      </div>
      <hr>

      <div class="odSection">
        <h2>処理担当</h2>
        <table class="borderTableBw prosessOd">
          <tr>
            <th>受注処理</th>
            <th>発送</th>
            <th>最終確認</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>

    </div>
  </main>
</body>
</html>

