<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINI WALLET Lab - PRODUCTS</title>
</head>
<body>
    <header>
        <div>
            <p class="storeName">mini wallet lab</p>
            <div>
                <div>検索</div>
                <div><a href="">マイページ</a></div>
                <div><a href="">カート</a></div>
            </div>                
        </div>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="{{url_for('products')}}">products</a></li>
                <li><a href="">about</a></li>
                <li><a href="">news</a></li>
                <li><a href="">store</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <section>

            <h1>カート</h1>

            {% if cart_items %}
            <!-- 空配列ならfalse -->
                <p>カートに入っています。</p>

                {% for p in cart_items %}
                    <p>ID：{{ p.id }}</p>
                    <p>商品名：{{ p.name }}</p>
                    <p>価格：{{ p.price }}円</p>
                    <p>数量：{{ p.qty }}個</p>
                    <p>小計：{{ p.subtotal }}円</p>
                {% endfor %}

                <hr>
                <p>合計金額：{{ total }}円</p>

                {% if user_id %}

                    <form action="/purchase" method="get">
                        <button type="submit" name="btn" value="purchase">購入する</button>
                    </form>

                {% else %}

                    <form action="/login" method="get">
                        <button type="submit" name="btn" value="login_purchase">ログインして購入する</button>
                    </form>

                    <form action="/purchase" method="get">
                        <button type="submit" name="btn" value="purchase">ログインせずに購入する</button>
                    </form>

                {% endif %}


            {% else %}
                <p>カートは空です</p>
            {% endif %}



        </section>




        <section class="snsSection">
            <div><a href="">X</a></div>
            <div><a href="">facebook</a></div>
            <div><a href="">Instagram</a></div>
        </section>
    </main>
    <footer>
        <div>
            <div>
                <ul>
                    <li><a href="">お買い物ガイド</a></li>
                    <li><a href="">特定商取引法について</a></li>
                    <li><a href="">ご利用規約</a></li>
                    <li><a href="">プライバシーポリシー</a></li>                    
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="">会社概要</a></li>
                    <li><a href="">お問い合わせ</a></li>               
                </ul>
            </div>
        </div>
        <small>mini wallet lab 2026</small>
    </footer>
</body>
</html>
