<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <p class="storeName">mini wallet lab</p>
            <div>
                <div>検索</div>
                <div><a href="">マイページ</a></div>
                <div><a href="">カート</a></div>
            </div>                
        </div>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="{{url_for('products')}}">products</a></li>
                <li><a href="">about</a></li>
                <li><a href="">news</a></li>
                <li><a href="">store</a></li>
            </ul>
        </nav>
    </header>

    <main>
    <h1>会員登録が完了しました</h1>

    </main>

    <footer>
        <div>
            <div>
                <ul>
                    <li><a href="">お買い物ガイド</a></li>
                    <li><a href="">特定商取引法について</a></li>
                    <li><a href="">ご利用規約</a></li>
                    <li><a href="">プライバシーポリシー</a></li>                    
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="">会社概要</a></li>
                    <li><a href="">お問い合わせ</a></li>               
                </ul>
            </div>
        </div>
        <small>mini wallet lab 2026</small>
    </footer>
</body>
</html>