<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINI WALLET Lab - PRODUCTS</title>
</head>
<body>
    <header>
        <div>
            <p class="storeName">mini wallet lab</p>
            <div>
                <div>検索</div>
                <div><a href="">マイページ</a></div>
                <div><a href="">カート</a></div>
            </div>                
        </div>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="{{url_for('products')}}">products</a></li>
                <li><a href="">about</a></li>
                <li><a href="">news</a></li>
                <li><a href="">store</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="selectBar">
            <div>
                <p></p>
            </div>
            <div>
                <p></p>
            </div>
            <div>
                <p></p>
            </div>

        </section>
        <section class="productsSection">

            <h1>商品一覧</h1>
            {% for product in products %}
            <table border="1">
                <tr>
                    <td>商品番号</td>
                    <td>{{product.id}}</td>
                </tr>
                <tr>
                    <td>販売価格</td>
                    <td>{{product.price}}</td>
                </tr>
                <tr>
                    <td>シリーズ</td>
                    <td>{{product.series}}</td>
                </tr>
                <tr>
                    <td>色</td>
                    <td>{{product.color}}</td>
                </tr>
                <tr>
                    <td>画像URL</td>
                    <td>{{product.image_path}}</td>
                </tr>
                <tr>
                    <td><a href="{{url_for('product_detail', product_id=product.id)}}">詳細</a></td>
                    <!-- product_detailはFlaskの関数名（def product_detail　のとこ） 
                     Flask は
                    「関数名 → @app.route で紐づいているURL」
                    を自動で引いてくれる。
                    （http://localhost:5000/products/1　が開く）-->
                </tr>
                <!-- <td>
                    <form action="/products/{{product.id}}" method="get">
                        <button type="submit" name="btn" value="detail">詳細</button>
                    </form>
                </td> -->
            </table>
            {% endfor %}

        </section>




        <section class="snsSection">
            <div><a href="">X</a></div>
            <div><a href="">facebook</a></div>
            <div><a href="">Instagram</a></div>
        </section>
    </main>
    <footer>
        <div>
            <div>
                <ul>
                    <li><a href="">お買い物ガイド</a></li>
                    <li><a href="">特定商取引法について</a></li>
                    <li><a href="">ご利用規約</a></li>
                    <li><a href="">プライバシーポリシー</a></li>                    
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="">会社概要</a></li>
                    <li><a href="">お問い合わせ</a></li>               
                </ul>
            </div>
        </div>
        <small>mini wallet lab 2026</small>
    </footer>
</body>
</html>
